<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <h1>Új hozzáadása</h1>

  <label>Leírás</label>
  <input for="new" type="text" placeholder="Új" name="description" [(ngModel)]="formData.description" required #descriptionField="ngModel">
  <div [hidden]="descriptionField.valid || descriptionField.untouched && !form.submitted" class="error">
    Leírás megadása kötelező
  </div>

  <label>Kategória</label>
  <input for="category" type="text" placeholder="Másik kategória" name="category" [(ngModel)]="formData.category" required maxlength="50" #categoryField="ngModel">
  <div [hidden]="categoryField.valid || categoryField.untouched && !form.submitted" class="error">
    Kategória megadása kötelező  (maximum 50 karakter)
  </div>

  <label>Dátum</label>
  <input for="date" type="date" placeholder="2020. 08. 22" name="date" [(ngModel)]="formData.date" required #dateField="ngModel">
  <div [hidden]="dateField.valid || dateField.untouched && !form.submitted" class="error">
    Dátum megadása kötelező
  </div>

  <button class="green">Mentés</button>
</form>